{%extends 'base.html' %}

{% block tittle %} about  {% endblock tittle %} 

{% block body %}  <div class="container-fluid px-0">
    <img src="/static/img/about.jpg" class="d-block w-100" alt="...">
    
</div>
<div class="container marketing">

    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">About <span class="text-muted">Quizzes</span></h2>
        <p class="lead">A quiz is a form of game or mind sport in which players attempt to answer questions correctly about a certain or variety of subjects. Quizzes can be used as a brief assessment in education and similar fields to measure growth in knowledge, abilities, or skills</p>
      </div>
      <div class="col-md-5">
        <img src="https://source.unsplash.com/500x400/?study" class="d-block w-100" alt="...">

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Quizzes <span class="text-muted">raise confidence.</span></h2>
        <p class="lead">Well targeted, tailor-made quizzes can boost self esteem and confidence. When pupils can challenge themselves but are able to succeed, their confidence can grow.

            An individual quiz takes off the pressure that a ‘test’ can bring and enables children to make mistakes privately. Even if used in teams or pairs, the nature of a funquiz can also help those children less confident to make mistakes, especially if the quiz allows them to try again.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="https://source.unsplash.com/500x400/?learning" class="d-block w-100" alt="...">

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Quizzes <span class="text-muted">can support individualised learning.</span></h2>
        <p class="lead">Quizzes are easy to differentiate, whilst enabling all children to participate in the same task.

            For example, you can apply the same design to the a quiz and learning materials, but with different questions. This is a subtle form of differentiation.
            
            It can also help you provide just the right level of challenge and pinpoint how to support each pupil to reach their full potential.</p>
      </div>
      <div class="col-md-5">
        <img src="https://source.unsplash.com/500x400/?class" class="d-block w-100" alt="...">

      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->
    <footer class="container">
        <p class="float-end"><a href="#">Back to top</a></p>
        <p>© 2022 Project. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
      </footer>

  </div>

{% endblock body %} 