{%extends 'base.html' %}

{% block tittle %} home   {% endblock tittle %} 

{% block body %}  <div class="container-fluid px-0">
    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="/static/img/1.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Welcome</h5>
          <p>This website build for Online Quiz for Programmer</p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="https://source.unsplash.com/1200x400/?coder" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Walcome</h5>
          <p>This website build for Online Quiz for Programmer</p>
        </div>
      </div>
      <div class="carousel-item" >
        <img src="https://source.unsplash.com/1200x400/?laptop" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Welcome</h5>
          <p>This website build for Online Quiz for Programmer</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div> 





<div class="container my-3">
    <h4 class="my-3"> ONLINE QUIZ GAME</h4>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        <div class="card shadow-sm">
    <img src="https://source.unsplash.com/1200x400/?coder" class="d-block w-100" alt="...">

          <div class="card-body">
            <p class="card-text">Quizzes are easy to differentiate, whilst enabling all children to participate in the same task.

              For example, you can apply the same design to the a quiz and learning materials, but with different questions. This is a subtle form of differentiation.
              
              It can also help you provide just the right level of challenge and pinpoint how to support each pupil to reach their full potential.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="https://en.wikipedia.org/wiki/Quiz"><button type="button" class="btn btn-sm btn-outline-secondary"  >View</button></a>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
            <img src="https://source.unsplash.com/1200x400/?codeing" class="d-block w-100" alt="...">
          <div class="card-body">
            <p class="card-text">Whether the quiz is a pre-topic assessment or at a midway point, it can really help you see what pupils already know or have learned.

              In this way, a quiz will inform your next steps of planning on an individual basis. In fact, quizzes are also a great way to reinforce learning for pupils throughout a unit of work.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="https://en.wikipedia.org/wiki/Quiz"><button type="button" class="btn btn-sm btn-outline-secondary"  >View</button></a>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
            <img src="https://source.unsplash.com/1200x400/?learn" class="d-block w-100" alt="...">

          <div class="card-body">
            <p class="card-text">A quiz can be defined as a game or brain teaser to test knowledge. It can contain an element of competition when participants play against each other to get the highest score, which makes helps participants become more engaged.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="https://en.wikipedia.org/wiki/Quiz"><button type="button" class="btn btn-sm btn-outline-secondary"  >View</button></a>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
            <img src="https://source.unsplash.com/1200x400/?game" class="d-block w-100" alt="...">

          <div class="card-body">
            <p class="card-text">Simple as that – they are fun. We all know that if learning is fun, we learn better.

              For teachers, a quiz can be a few minutes of relaxation from our hours of marking. So, if we enjoy it, why wouldn’t the kids we teach also welcome a little bit of relaxing fun whilst working?</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="https://en.wikipedia.org/wiki/Quiz"><button type="button" class="btn btn-sm btn-outline-secondary"  >View</button></a>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
            <img src="https://source.unsplash.com/1200x400/?gameing" class="d-block w-100" alt="...">

          <div class="card-body">
            <p class="card-text">By taking quizzes, pupils get instant feedback on their responses. And this can help them identify areas they need to develop themselves and highlight progress for them to be proud of.

              In fact, it can also support a growth mindset and foster the attitude to life-long learning that you aim to give your pupils.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="https://en.wikipedia.org/wiki/Quiz"><button type="button" class="btn btn-sm btn-outline-secondary"  >View</button></a>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
            <img src="https://source.unsplash.com/1200x400/?project" class="d-block w-100" alt="...">

          <div class="card-body">
            <p class="card-text">A quiz is a form of game or mind sport in which players attempt to answer questions correctly about a certain or variety of subjects. Quizzes can be used as a brief assessment in education and similar fields to measure growth in knowledge, abilities, or skills. They can also be televised for entertainment purposes, often in a game show format.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="https://en.wikipedia.org/wiki/Quiz"><button type="button" class="btn btn-sm btn-outline-secondary"  >View</button></a>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
            <img src="https://source.unsplash.com/1200x400/?computer" class="d-block w-100" alt="...">

          <div class="card-body">
            <p class="card-text">Keeping a record of pupils’ scores and responses provides evidence the fact that the teacher is regularly assessing and feeding back to students. This can also can help a teacher monitor and track progress.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="https://en.wikipedia.org/wiki/Quiz"><button type="button" class="btn btn-sm btn-outline-secondary"  >View</button></a>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
            <img src="https://source.unsplash.com/1200x400/?mobile" class="d-block w-100" alt="...">

          <div class="card-body">
            <p class="card-text">Pre-test quizzes can help pupils revise without even realising they are doing it.

              And a quiz is a good way for a pupil to identify and take ownership of their knowledge gaps. It’s also a great way to help them to plug the gaps to boost their confidence when it comes to formal testing.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="https://en.wikipedia.org/wiki/Quiz"><button type="button" class="btn btn-sm btn-outline-secondary"  >View</button></a>
                
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
            <img src="https://source.unsplash.com/1200x400/?hacker" class="d-block w-100" alt="...">

          <div class="card-body">
            <p class="card-text">A quiz at the end of a lesson or a unit of work is an entertaining way to find out how much pupils have learned. It can also inform any further follow up needed.

              All this without the need for the stress that a more formal test can bring many children</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="https://en.wikipedia.org/wiki/Quiz"><button type="button" class="btn btn-sm btn-outline-secondary"  >View</button></a>
                
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="container" style="
    position: absolute;
    top: 1780px;
    left: 65px;
">

    <p class="float-end"><a href="#">Back to top</a></p>
    <p>© 2022 Project · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
  </footer>
  </div>

  
  {% endblock body %} 
